section{
    display: flex;
}


#tittle{
    color: #47554b;
    text-align: center;
    margin-left: 10%;
}

.images{
    background-image: linear-gradient(to left,#47554b, #a2c4ac);
    padding: 10px;
}

img{
    height: 100%;
    width: 100%;
    border-radius: 8%;
}

#logo{
    align-items: center;
    text-align: center;
}

.logo{
    height: 90%;
    width: 90%;
}


/* Pág individual empresa */
.puesto-emp{
    z-index: -1;
}

#nombre-emp{
    position: absolute;
    align-items: center;
    text-align: center;
    left: 35%;
    right: 0%;
}

#myInput{
    position: absolute;
    top: 54%;
    left: 54.6%;
    height: 19%;
    width: 16.4%;
    background-color: rgb(77, 74, 74);
}

#myCanvas{
    padding-left: 17.6%;
    width: 100%;
}

#pdf{
    position: absolute;
    top: 77%;
    left: 58.5%;
    height: 4%;
    width: 8.4%;
    opacity: 0%;
}

.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.Site-content {
    flex: 1;
}

.footer{
    position: sticky;
    margin-top: 3%;
    padding: 10px;
    background-image: linear-gradient(to right, rgb(129, 192, 201),white);
}


.footer-img{
    width: 10rem;
    height: 10rem;
}
.footer-img-vert{
    width: 12rem;
    height: 6rem;
}

/*Categories Buttons*/

.button {
    display: flex;
    align-items: center;
    position: relative;
    color: rgb(25, 25, 25);
    width: 15rem;
    height: 4rem;
    margin: 0.5rem;
    border: 5px solid rgb(25, 25, 25);
    border-radius: 10px;
    font-size: 1.4rem;
    cursor: pointer;

}
.button:hover{
    text-decoration: none;
    background-color: rgb(25, 25, 25);
    color: blanchedalmond;
    font: bold;
}
